<!-- views/logs.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clan Logs</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="logs-body">
    <h1 class="logs-title">Clan Logs</h1> <a href="/" class="return-button">back</a>
    <ul class="logs-list">
        <% logs.forEach(function(log) { %>
            <li class="log-item"> 
                <span class="log-date"><%= log.formattedDate %></span>:
                <span class="log-clan">[<%= log.clanName %>]</span>
                <span class="log-member"> <%= log.memberUsername %></span>:
                <span class="log-message"> <%= log.message %></span>
            </li>
        <% }); %>
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const logList = document.getElementById('log-list');

        socket.on('log_update', (newLog) => {
            const newListItem = document.createElement('li');
            newListItem.textContent = `${new Date(newLog.timestamp).toLocaleString('ru-RU')}: ${newLog.message}`;
            logList.insertBefore(newListItem, logList.firstChild);
        });
    </script>
</body>
</html>